$(document).ready(function() {
  $("#new_comment").on("ajax:success",function(){
    $("#list-comments")
        .html('<table class="table"><tr><th>Commenter</th><th>Comment</th></tr>' + "<%=escape_javascript(render partial: @comments)%>" + '</table><div class="pull-right"><%= will_paginate @comments %></div>');
      $("#comment_commenter").val('');
      $("#comment_body").val('');
  });
});